.sponsors .ant-timeline-item-content {
    overflow: hidden;
}

.sponsors .edit-sponsor, .sponsors .delete-sponsor {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all 300ms;
    opacity: 0;
}

.sponsors .edit-sponsor {
    top: 0;
    transform: translate(8px, -8px);
}

.sponsors .delete-sponsor {
    bottom: 0;
    transform: translate(8px, 8px);
}

.sponsors .sponsor:hover .edit-sponsor, .sponsors .sponsor:hover .delete-sponsor {
    overflow: hidden;
    transform: translate(0, 0);
    opacity: 1;
}

.sponsors .sponsor:hover .edit-sponsor {
    color: #1890FF;
}

.sponsors .sponsor:hover .delete-sponsor {
    color: #FF4D4F;
}
